---
name: Build and Test
on:
  push:
  pull_request:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '^1.19'
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Lint Go Code
      run: |
        go install honnef.co/go/tools/cmd/staticcheck@latest
        make check

  vet:
    name: Vet
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '^1.19'
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Vet Go code
      run: make vet

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '^1.19'
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Test
      run: make test

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [check, vet, test]
    steps:
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '^1.19'

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: build
      run: make build

    - name: Trivy scan
      uses: aquasecurity/trivy-action@0.11.2
      with:
        scan-type: "fs"
        ignore-unfixed: true
        format: "table"
        exit-code: "1"
        vuln-type: "os,library"
        severity: "CRITICAL,HIGH"